 ##################
 # Unity ignores:
 #
 # !!! WARNING !!!
5. #
 # … you MUST convert Unity to using Metafiles *before* you start using this
 #  .gitignore file, or you WILL lose data!
 #
 
10. # OS X only:
 .DS_Store
 *.swp
 *.Trashes
 
15. # All platforms:
 Library
 Temp
 *.csproj
 *.pidb
20. *.unityproj
 *.sln
 *.userprefs
